Package: me.qusic.xgress
Name: Xgress
Version: 2
Description: Play Ingress on Jailbroken Devices
Section: Tweaks
Depends: mobilesubstrate
Priority: optional
Tag: purpose::extension
Architecture: iphoneos-arm
Author: Qusic <hi@qusic.me>
Maintainer: Qusic <hi@qusic.me>
Sponsor: Qusic <hi@qusic.me>
